body {
  margin: 5;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
    "header header header"
    "nav main aside"
    "footer footer footer";
  height: 97vh;
  width: 97vw;
}
header {
  border: solid 1px black;
  border-bottom: none;
  display: block;
  height: 2rem;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
  grid-area: header;
}

nav {
  border: 1px solid black;
  text-align: center;
  display: flex;
  flex-direction: column;
  grid-area: nav;
  padding: 5px;
  border-right: none;
}
main {
  border: 1px solid black;
  grid-area: main;
  text-align: center;
  padding: 5px;
}
aside {
  border: 1px solid black;
  grid-area: aside;
  text-align: center;
  padding: 5px;
  border-left: none;
}

footer {
  border: 1px solid black;
  grid-area: footer;
  text-align: center;
  padding: 5px;
  border-top: none;
}
